@font-face {
  font-family: 'LemonMilkFont';
  src: url('assets/fonts/LEMONMILK-Light.otf') format('opentype');
}

@font-face {
  font-family: 'LemonMilkBoldFont';
  src: url('assets/fonts/LEMONMILK-Bold.otf') format('opentype');
}

.container {
	padding: 30px;
}

.hover-text {
	font-size: 30px;
	font-family: 'LemonMilkBoldFont';
	color: #186d80;
	cursor: pointer;
}

#image-container {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 700px;
	box-sizing: border-box;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s ease-in-out;
}

#image-container img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.hover-text:hover {
	color: black;
}

.hover-text:hover #image-container {
	opacity: 1;
}
